africastalking
asgiref
attrs
autobahn==25.10.2
Automat
amqp
asgiref==3.10.0
better-profanit
billiard==4.2.2
celery==5.5.3
certifi==2025.11.12
cffi==2.0.0
channels
channels-redis==4.1.0
channels==4.3.1
charset-normalizer==3.4.4
click==8.3.0
click-didyoumean==0.3.1
click-plugins
click-repl
colorama==0.4.6
constantly==23.10.4
cron_descriptor==2.0.6
cryptography
daphne==4.0.0
Django
django-celery-beat==2.5.0
django-cors-headers
django-graphql-jwt
django-timezone-field
djangorestframework
djangorestframework-simplejwt
graphene==3.4.3
graphene-django
graphql-core
graphql-relay==3.2.0
gunicorn
hyperlink==21.0.0
idna==3.11
incremental==24.7.2
msgpack
packaging
pillow
promise==2.3
prompt_toolkit
psycopg2-binary==2.9.9
pyasn1
pyasn1_modules==0.4.2
pycparser==2.23
PyJWT
pyOpenSSL==25.1.0
python-crontab==3.3.0
python-dateutil
python-dotenv
pytz
redis
requests==2.31.0
schema
service-identity
setuptools
sightengine
six==1.17.0
sqlparse==0.5.3
text-unidecode
Twisted
txaio
cron_descriptor
cryptography==46.0.3
Django==5.2.8
django-celery-beat
django-cors-headers
django-timezone-field==7.1
djangorestframework
djangorestframework_simplejwt
dotenv
graphene
graphene-django
graphql-core
graphql-relay==3.2.0
idna==3.11
kombu
lia-web
packaging==25.0
promise==2.3
prompt_toolkit==3.0.52
pycparser
PyJWT==2.10.1
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
redis==7.0.1
requests==2.32.5
sightengine==1.4.0
six==1.17.0
sqlparse==0.5.3
strawberry-graphql
text-unidecode==1.3
typing_extensions==4.15.0
tzdata
urllib3==2.5.0
vine==5.1.0
wcwidth==0.2.14
zope.interface==8.1
wcwidth
